.correctness-gradient {
  color: transparent; /* Hide text color */
  background-image: linear-gradient(to right, red 0%, yellow 50%, green 100%); 
  background-clip: text; /* Clip text to gradient */
  -webkit-background-clip: text; /* For Safari */
}

.colored-percentage {
  /* You can customize the color and other styles as needed */
  font-weight: bold;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: auto;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #6d5b32;
}

tbody tr:nth-child(odd) {
  background-color: #282828;
}

.link-style {
  color: rgb(96, 167, 145);
}

/* Change colors on table for light-mode plebs */
@media (prefers-color-scheme: light) {
  tbody tr:nth-child(odd) {
    background-color: #ececec;
  }

  .link-style {
    color: rgb(26, 36, 132);
  }
}

@media screen and (max-width: 600px) {
  th,
  td {
    padding: 12px;
  }
}
