table {
  margin: auto;
  border-collapse: collapse;
  width: auto;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #6d5b32;
}

tbody tr:nth-child(odd) {
  background-color: #282828;
}

.link-style {
  color: rgb(91, 91, 177);
}

/* Change colors on table for light-mode plebs */
@media (prefers-color-scheme: light) {
  tbody tr:nth-child(odd) {
    background-color: #ececec;
  }

  .link-style {
    color: rgb(26, 36, 132);
  }
}

@media screen and (max-width: 600px) {
  th,
  td {
    padding: 12px;
  }
}
